#
# Copyright (c) 2023, 2019 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: Apache-2.0
#

########################################################################
##                               RGB LEDS                             ##
########################################################################

menu "WS2812 Sample Configuration"

config SAMPLE_LED_UPDATE_DELAY
	int "Delay between LED updates in ms"
	default 50
	help
	  Delay between LED updates in ms.

endmenu

########################################################################
##                             USB SETTINGS                           ##
########################################################################

# Source common USB sample options used to initialize new experimental USB
# device stack. The scope of these options is limited to USB samples in project
# tree, you cannot use them in your own application.
source "samples/subsys/usb/common/Kconfig.sample_usbd"

source "Kconfig.zephyr"
