/**
 * Copyright (c) 2025 Joonho Jang
 * Copyright (c) 2023 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <dt-bindings/regulator/npm1300.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/input/keymap.h>


&i2c0_default {
    group1 {
        bias-pull-up;
        psels = <NRF_PSEL(TWIM_SDA, 0, 4)>, <NRF_PSEL(TWIM_SCL, 0, 26)>;
    };
};

&arduino_i2c {
    npm1300_ek_pmic: pmic@6b {
        compatible = "nordic,npm1300";
        reg = <0x6b>;

        // ship-to-active-time = <96>;
        // long-press-reset = "one_button";

        npm1300_ek_gpio: gpio-controller {
            compatible = "nordic,npm1300-gpio";
            gpio-controller;
            #gpio-cells = <2>;
            ngpios = <5>;

        };

        npm1300_ek_regulators: regulators {
            compatible = "nordic,npm1300-regulator";

            npm1300_ek_buck1: BUCK1 {
                regulator-min-microvolt = <1000000>;
                regulator-max-microvolt = <3300000>;
                regulator-init-microvolt = <1800000>;
                retention-microvolt = <1500000>;

                retention-gpios = <&npm1300_ek_gpio 0 GPIO_ACTIVE_HIGH>;
            };

            npm1300_ek_buck2: BUCK2 {
                regulator-min-microvolt = <1000000>;
                regulator-max-microvolt = <3300000>;
                regulator-init-microvolt = <1800000>;
                retention-microvolt = <1500000>;

            };

            npm1300_ek_ldo1: LDO1 {
                regulator-min-microvolt = <1000000>;
                regulator-max-microvolt = <3300000>;

                regulator-initial-mode = <NPM1300_LDSW_MODE_LDSW>;

            };

            npm1300_ek_ldo2: LDO2 {
                regulator-min-microvolt = <1000000>;
                regulator-max-microvolt = <3300000>;

                regulator-initial-mode = <NPM1300_LDSW_MODE_LDSW>;

            };
        };


        npm1300_ek_charger: charger {
            compatible = "nordic,npm1300-charger";
            term-microvolt = <4200000>;
            term-warm-microvolt = <3600000>;
            // term-current-percent = <10>;
            current-microamp = <800000>;
            // trickle-microvolt = <2500000>;
            dischg-limit-microamp = <1000000>;
            vbus-limit-microamp = <500000>;
            thermistor-ohms = <10000>;
            thermistor-beta = <3380>;
            // disable-recharge;
            charging-enable;

        };

        npm1300_ek_leds: leds {
            compatible = "nordic,npm1300-led";
            nordic,led0-mode = "error";
            nordic,led1-mode = "charging";
            nordic,led2-mode = "host";

        };
    };
};


/** TASK: CHANGE THE gpio1 12 0 to P0.05 */
&npm1300_ek_pmic {
    host-int-gpios = <&gpio1 12 0>;
    pmic-int-pin = <1>;

};

/{
    kbd {
        kbd-matrix {
            compatible = "gpio-kbd-matrix";

            row-gpios = <&gpio1 4 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,
                        <&gpio1 5 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;

            col-gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>,
                        <&gpio0 29 GPIO_ACTIVE_HIGH>,
                        <&gpio0 28 GPIO_ACTIVE_HIGH>,
                        <&gpio0 31 GPIO_ACTIVE_HIGH>,
                        <&gpio0 30 GPIO_ACTIVE_HIGH>,
                        <&gpio1 8 GPIO_ACTIVE_HIGH>;

            keymap {
                compatible = "input-keymap";
                // MATRIX_KEY(row, col, INPUT_KEY)
                keymap = <
                MATRIX_KEY(0, 0, INPUT_KEY_0)
                MATRIX_KEY(0, 1, INPUT_KEY_1)
                MATRIX_KEY(0, 2, INPUT_KEY_2)
                MATRIX_KEY(0, 3, INPUT_KEY_3)
                MATRIX_KEY(0, 4, INPUT_KEY_4)
                MATRIX_KEY(0, 5, INPUT_KEY_PRINT)
                MATRIX_KEY(1, 0, INPUT_KEY_5)
                MATRIX_KEY(1, 1, INPUT_KEY_6)
                MATRIX_KEY(1, 2, INPUT_KEY_7)
                MATRIX_KEY(1, 3, INPUT_KEY_8)
                MATRIX_KEY(1, 4, INPUT_KEY_9)
                MATRIX_KEY(1, 5, INPUT_KEY_SCROLLLOCK)
                >;

                // Index 1
                row-size = <2>;
                col-size = <6>;
            };

            col-drive-inactive;
            settle-time-us = <0>;
            no-ghostkey-check;

        };
    };

    // Delete from DeviceTree Extension Alias Folder
    aliases {
        /delete-property/ led0;
        /delete-property/ led1;
        /delete-property/ led2;
        /delete-property/ led3;

        /delete-property/ sw0;
        /delete-property/ sw1;
        /delete-property/ sw2;
        /delete-property/ sw3;

        /delete-property/ bootloader-led0;
        /delete-property/ mcuboot-button0;
        /delete-property/ mcuboot-led0;
    };
};

/ {
    hid_dev_0: hid_dev_0 {
        compatible = "zephyr,hid-device";
        label = "HID0";
        protocol-code = "keyboard";
        in-report-size = <64>;
        in-polling-period-us = <1000>;
        out-report-size = <64>;
        out-polling-period-us = <16000>;

        // Alternative Options
        // in-report-size = <256>;
        // in-polling-period-us = <1000>;
        // out-report-size = <128>;
        // out-polling-period-us = <16000>;
    };
};

/ {
    dip_sw {
        compatible = "gpio-keys"; // Placeholder for my own dts/bindings/dip-sw
        dipsw2: dipsw_2 {
            gpios = <&gpio0 23 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
            label = "Dip Switch 2";
            zephyr,code = <INPUT_BTN_2>;
        };
        dipsw3: dipsw_3 {
            gpios = <&gpio0 21 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
            label = "Dip Switch 3";
            zephyr,code = <INPUT_BTN_3>;
        };
        dipsw4: dipsw_4 {
            gpios = <&gpio0 19 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
            label = "Dip Switch 4";
            zephyr,code = <INPUT_BTN_4>;
        };
    };
};

// Delete from DeviceTree Extension Nodes Folder
/delete-node/ &{/leds/};
/delete-node/ &{/buttons/};

&clock {
    status = "okay";
};

&usbd {
    status = "okay";
};

&spi1 {
    status = "disabled";
};

&qspi {
    status = "disabled";
};

&spi3 {
    status = "disabled";
};


// Do not delete from DeviceTree Visual Editor (View Mode: Pins). Example shown below:
// &button0 {
    //     /delete-property/ gpios;
// };